<div class="container-fluid">
    <div class="row p-4">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <%- include('charts/accounts') %>
                </div>
            </div>
        </div>
    </div>


    <div class="row p-4">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="accounts_table">
                            <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Date</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Active</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% table.forEach(function(user){ %>
                                <tr>
                                    <td><%= user.id %></td>
                                    <td><%= user.date_added %></td>
                                    <td>
                                        <a href="/admin/users/<%= user._id %>">
                                            <%= user.name %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= roleTypes.roleTypeToString(user.role) %>
                                    </td>
                                    <td>
                                        <%= user.active ? "Yes" : "No" %>
                                    </td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>