<div>
    <canvas id="accounts_chart"></canvas>
    <script src="/javascripts/reports/charts/accounts.js"></script>
    <script>
        const accounts_labels = <%- JSON.stringify(labels) %>;
        const accounts_data = <%- JSON.stringify(datasets[0]) %>;
        const statuses_backgrounds =  <%- JSON.stringify(accountStatus.getList().map(status => accountStatus.accountStatusToRGB(status))) %>;
        const statuses_borderColors =  <%- JSON.stringify(accountStatus.getList().map(status => accountStatus.accountStatusToRGB(status, true))) %>;
    </script>
</div>

<div class="row p-4">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="cases_table">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Date</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% table.forEach(function(user){ %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.date_added %></td>
                                <td>
                                    <a href="/admin/users/<%= user._id %>">
                                        <%= user.name %>
                                    </a>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= roleTypes.roleTypeToString(user.role) %>
                                </td>
                                <td>
                                    <%= user.active ? "Yes" : "No" %>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>