<%- include('../components/header') %>
<%- include('../components/navbar') %>

<div class="m-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded shadow">
                <div class="card-body p-4">
                    <h1 class="fw-bold text-center">Listing an Item</h1>
                    <!--                    Image of item-->

                    <div class="mb-3">
                        <label for="itemImage" class="form-label">Pick images of the device</label>
                        <div id="imagePreview" class="row p-1">
                            <% device.photos.forEach(function(photo) { %>
                                <img src="data:image/png;base64,<%= photo %>" class="img-thumbnail col-2">
                            <% }); %>
                        </div>
                        <input class="form-control" type="file" id="itemImage" name="itemImage" accept="image/*"  multiple>
                    </div>



                    <!--                    Device information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device information</p>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 row">
                                    <label for="deviceType" class="col-sm-6 col-lg-4 col-form-label fw-bold">Device Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceType">
                                            <option value="-1"><%= device.device_type.name %></option>
                                        </select>
                                    </div>
                                </div>

                                <!--                        Brand -->
                                <div class="mb-3 row">
                                    <label for="deviceBrand" class="col-sm-6 col-lg-4 col-form-label fw-bold">Brand</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceBrand">
                                            <option value="<%= device.brand._id %>"><%= device.brand.name %>
                                        </select>
                                    </div>
                                </div>

                                <!--                        Model-->
                                <div class="mb-3 row">
                                    <label for="deviceModel" class="col-sm-6 col-lg-4 col-form-label fw-bold">Model</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceModel">
                                            <option value="<%= device.model._id %>"><%= device.model.name %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <% if (device.model.properties.length > 0){%>
                                <div class="col-12 col-md-6 col-xl-4" id="selected-model-content">
                                    <div class="card p-3 ">
                                        <div class="row" id="selected-model-content">
                                            <div class="col-3">
                                                <img src="<%= device.model.properties[0].value %>" class="img-fluid rounded-start" >
                                            </div>
                                            <div class="col-9">
                                                <div class="card-body p-0">
                                                    <h5 class="card-title"><%= device.model.name %></h5>
                                                    <p class="card-text m-0"><small>Device Type:</small> <%= device.device_type.name %></p>
                                                    <p class="card-text m-0"><small>Brand:</small> <%= device.brand.name %></p>
                                                    <p class="card-text"><small class="text-muted">Release at <%= device.model.properties[2]?.value %></small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 row">
                                    <label for="deviceColor" class="col-sm-6 col-lg-4 col-form-label fw-bold">Color</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceColor">
                                            <% const colors = ["Red", "Orange", "Yellow", "Green", "Cyan", "Blue", "Violet", "Other"]; %>
                                            <% colors.forEach(color => { %>
                                                <option value="<%= color %>" <% if (device.details[7]?.value === color) { %> selected <% } %>><%= color %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="deviceCapacity" class="col-sm-6 col-lg-4 col-form-label fw-bold">Capacity</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceCapacity">
                                            <% const capacities = ["Less Than 16 Gb", "16 Gb", "32 Gb", "64 Gb", "128 Gb", "256 Gb", "512 Gb", "1 Tb", "2 Tb", "Larger Than 2 Tb"]; %>
                                            <% capacities.forEach(capacity => { %>
                                                <option value="<%= capacity %>" <% if (device.details[8]?.value === capacity) { %> selected <% } %>><%= capacity %></option>
                                            <% }); %>
                                        </select>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="deviceYear" class="col-form-label fw-bold">It has been in use for how many years?</label>
                                    <div>
                                        <input type="number" class="form-control" id="deviceYear" name="deviceYear" min="0" value="<%= device.details[9]?.value ? device.details[9].value : '0' %>" >
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--                    Device Condition-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device Condition</p>
                        <label for="deviceCondition" class="col-sm-4 col-form-label fw-bold ">Is your device in good condition?</label>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Device Condition Choose">
                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionYes"  <%= device.good_condition ? 'checked' : ''%>>
                            <label class="btn btn-outline-primary" for="conditionYes">Yes</label>

                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionNo"  <%= !device.good_condition ? 'checked' : ''%>>
                            <label class="btn btn-outline-primary" for="conditionNo">No</label>
                        </div>
                        <ul class="text-muted">
                            <li>It turns on and functions normally</li>
                            <li>All the buttons work</li>
                            <li>The cameras work and all lenses are free of damage</li>
                            <li>The battery is able to remain charged and provide continuous use time</li>
                            <li>The body is free of dents and scratches</li>
                            <li>The touchscreen and back glass are undamaged</li>
                            <li>The display is free of distortion, lines and black or white spots</li>
                        </ul>
                    </div>

                    <div id="detail-condition" class="<%= device.good_condition ? 'd-none' : 'd-block'%>">
                        <div class="mb-2">
                            <label for="functionalityRadio" class="d-block col-form-label fw-bold">1. Does your device turn on and work properly?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Bad</span>
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="functionalityRadio" id="functionality<%= i %>" value="<%= i %>" <% if (device.details[0]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="functionality<%= i %>"><%= i %></label>
                                <% } %>
                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="btnRadio" class="d-block col-form-label fw-bold">2. All the buttons are working probably?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="btnRadio" id="btn<%= i %>" value="<%= i %>" <% if (device.details[1]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="btn<%= i %>"><%= i %></label>
                                <% } %>
                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="cameraRadio" class="d-block col-form-label fw-bold">3. The cameras work and all lenses are free of damage?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <span class="me-2">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="cameraRadio" id="camera<%= i %>" value="<%= i %>" <% if (device.details[2]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="camera<%= i %>"><%= i %></label>
                                <% } %>

                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="batteryRadio" class="d-block col-form-label fw-bold">4. The battery is able to remain charged and provide continuous use time?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="batteryRadio" id="battery<%= i %>" value="<%= i %>" <% if (device.details[3]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="battery<%= i %>"><%= i %></label>
                                <% } %>

                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="bodyRadio" class="d-block col-form-label fw-bold">5. The body is free of dents and scratches?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="bodyRadio" id="body<%= i %>" value="<%= i %>" <% if (device.details[4]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="body<%= i %>"><%= i %></label>
                                <% } %>
                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="touchscreenRadio" class="d-block col-form-label fw-bold">6. The touchscreen and back glass are undamaged?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <span class="me-2">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen<%= i %>" value="<%= i %>" <% if (device.details[5]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="touchscreen<%= i %>"><%= i %></label>
                                <% } %>

                                <span class="ms-2">Good</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label for="displayRadio" class="d-block col-form-label fw-bold ">7. The display is free of distortion, lines and black or white spots?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2 ">Bad</span>

                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" class="btn-check" name="displayRadio" id="display<%= i %>" value="<%= i %>" <% if (device.details[6]?.value === i.toString()) { %> checked <% } %>>
                                    <label class="btn btn-outline-primary" for="display<%= i %>"><%= i %></label>
                                <% } %>

                                <span class="ms-2">Good</span>
                            </div>
                        </div>
                    </div>

                    <!--                    Additional Information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Additional Information</p>
                        <textarea class="form-control" id="additionalInfo" rows="3"
                                  placeholder="Please provide any additional details or special requests regarding your device."><%= device.additional_details %></textarea>
                    </div>


                    <!--                    Submit Button-->
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <p class="btn btn-primary mb-3 d-block mx-auto" id="submitBtn">Submit for Approval</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/marketplace/edit_item.js"></script>
<%- include('../components/footer') %>