<%- include('../components/header') %>

<%- include('../components/navbar') %>

<div class="container-fluid item-detail mt-5">
    <div class="row bg-light p-4">
        <div class="col-md-6">
            <div id="deviceImgCarousel" class="carousel slide col-md-6 mb-4" data-bs-theme="dark">
                <div class="carousel-inner ">
                    <% if(item.photos?.length > 0) { %>
                        <% item.photos.forEach((photo, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="<%= photo.replace('public', '') %>"
                                     class="d-block w-100"
                                     alt="...">
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="carousel-item active">
                            <img src="https://placehold.co/600x600?text=No Images"
                                 class="d-block w-100" alt="...">
                        </div>
                    <% } %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#deviceImgCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#deviceImgCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <h3 class="display-4 fw-bold mb-3"><%= item.model.name %><span
                        class="badge <%= Object.keys(deviceState).find(key => deviceState[key] === item.state) === 'LISTED' ? 'bg-success' : 'bg-warning' %> ms-2"
                        style="font-size: 0.3em;"><%= Object.keys(deviceState).find(key => deviceState[key] === item.state) %></span>
            </h3>

            <p class="lead text-muted"><%= Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) %></p>

            <% if(Object.keys(deviceState).find(key => deviceState[key] === item.state) !== 'LISTED' && item.listing_user.toString() === user.id) { %>
                <a href="/list-item/<%= item._id %>" class="btn btn-primary">Edit Details</a>
            <% } %>

            <hr class="my-4">

            <div class="row" id="item-info">
                <h5 class="fw-bold mb-4">Specification: </h5>
                <div class="col">
                    <p><span class="fw-bold">Device Type:</span> <%= item.device_type.name %></p>
                    <% Object.keys(specs).forEach(spec => { %>
                        <% if (['Announced', 'Status', 'Dimensions', 'Size', 'OS', 'USB'].includes(spec)) { %>
                            <p><span class="fw-bold"><%= spec %>:</span> <%= specs[spec] %></p>
                    <% }}) %>
                    <p><span class="fw-bold">Device Condition:</span> <%= item.good_condition ? 'Good' : 'Poor' %></p>
                </div>
                <h5 class="fw-bold mb-4">Condition: </h5>
                <div class="col-6">
                    <% item.details.slice(0, Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p>
                            <span class="fw-bold"><%= detail.name.charAt(0).toUpperCase() + detail.name.slice(1) %>:</span> <%= detail.value %>
                        </p>
                    <% }) %>

                </div>
                <div class="col-6">
                    <% item.details.slice(Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p>
                            <span class="fw-bold"><%= detail.name.charAt(0).toUpperCase() + detail.name.slice(1) %>:</span> <%= detail.value %>
                        </p>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light text-dark p-4 mt-4">
        <div class="col-md-12">
            <h5 class="fw-bold">Additional Details: </h5>
            <p class="lead"><%= item.additional_details %></p>
        </div>
    </div>
    <div class="row bg-light text-dark p-4 mt-4">
        <div class="col-md-12">
            <!--     Show device if the category is current       -->
            <% if(Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) === "CURRENT") { %>
                <h5 class="fw-bold mt-4">Quotes</h5>
                <% quotes.forEach( quote => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card border-primary mt-3">
                                <div class="row g-0 justify-content-between">
                                    <div class="col-md-2 mt-2 align-middle">
                                        <img src="<%= quote.provider.logo %>" class="img-fluid rounded-start"
                                             alt="logo">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <div class="row">
                                                <h5 class="card-title">Price: £<%= quote.value %></h5>
                                                <p class="card-text">Quotation from <%= quote.provider.name %> for the
                                                    same
                                                    product
                                                    or similar products.</p>
                                                <p class="card-text"><small>Fetched from <%= quote.provider.name %>
                                                        site</small></p>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 mt-2 mx-auto">
                                                    <% if (quote.provider.name === 'ebay') { %>
                                                        <a href="https://www.ebay.co.uk/sch/i.html?_from=R40&_trksid=p4432023.m570.l1313&_nkw=<%= item.model.name.replace(' ', '+') %>"
                                                           target="_blank"
                                                           class="btn btn-primary">Visit <%= quote.provider.name.toUpperCase() %></a>
                                                    <% } else { %>
                                                        <a href="https://uk.webuy.com/sell/search/?stext=<%= item.model.name.replace(' ', '+') %>"
                                                           target="_blank"
                                                           class="btn btn-primary">Visit <%= quote.provider.name.toUpperCase() %></a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-12">
                                                        <p class="fs-6 fst-italic text-center">Click the QR code to see a larger
                                                            version</p>
                                                    </div>
                                                </div>

                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-10 d-flex justify-content-center">
                                                        <a onclick="showQRModal('<%= quote._id %>')">
                                                            <img class="img-thumbnail h-100 hover-shadow"
                                                                 src="<%= quote.qr_code %>" alt="Quote QR Code">
                                                        </a>
                                                    </div>
                                                    <div class="col-2 d-flex justify-content-center align-content-center">
                                                        <a href="/qr/<%= quote._id %>" class="hover-grow">
                                                            <i class="fa-solid fa-chevron-right fa-5x my-auto"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

        <!--     Show device if the category is recycle       -->
        <% if(Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) === "RECYCLE") { %>
            <div class="row">
                <div class="col-md-12">

                    <h5 class="fw-bold mt-4">Do you want to Recycle your device?</h5>
                    <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" name="stateRadio" id="stateYes"
                               autocomplete="off" <%= item.category === 2 ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary" for="stateYes">Yes</label>

                        <input type="radio" class="btn-check" name="stateRadio" id="stateNo"
                               autocomplete="off" <%= item.category !== 2 ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary" for="stateNo">No</label>
                    </div>
                    <h5 class="fw-bold mt-4">Do you want to do data retrieval? It'll cost you an extra £8.99 for the
                        service</h5>
                    <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" name="serviceRadio" id="serviceYes"
                               autocomplete="off" <%= item.data_service === 2 ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary" for="serviceYes">Yes</label>

                        <input type="radio" class="btn-check" name="serviceRadio" id="serviceNo"
                               autocomplete="off" <%= item.data_service !== 2 ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary" for="serviceNo">No</label>
                    </div>
                    <a href="/checkout" class="btn btn-success">Checkout</a>
                </div>
            </div>
        <% } %>

        <!--     Show device if the category is rare    -->
        <% if(Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) === "RARE") { %>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="fw-bold mt-4">Since the device is rare to find, you can auction the device on
                        eBay</h5>
                    <a href="https://www.ebay.co.uk/sl/prelist/suggest" target="_blank" class="btn btn-primary">
                        Click
                        here to
                        go to eBay auction site</a>
                </div>
            </div>
        <% } %>
    </div>
</div>

<section id="modals">
    <!-- QR Code Modal -->
    <div id="qrModal" class="modal fade" tabindex="-1" aria-labelledby="QRmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Display QR Code -->
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="card w-100 p-2">
                        <div class="collapse show" id="qrModalSpinner">
                            <div class="d-flex justify-content-center w-100">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="qrModalImageContainer">
                            <div class="card card-body border-0">
                                <h1 class="text-center">Scan me to view your quote</h1>
                                <img id="qrModalImage"
                                     src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://www.google.com"
                                     alt="QR Code">
                                <p class="text-center fst-italic">This QR code will contain the information that you
                                    can
                                    take to the store
                                    to complete your transaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascripts/marketplace/item_details.js"></script>


<%- include('../components/footer.ejs') %>

