<%- include('../components/header') %>

<%- include('../components/navbar') %>

<div class="container-fluid item-detail mt-5">
    <div class="row bg-light p-4">
        <div id="carouselExample" class="carousel slide col-md-6 mb-4 bg-light">
            <div class="carousel-inner ">
                <% item.photos.forEach(  (photo, index) => {%>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img src="<%= photo %>" class="d-block img-fluid mx-auto detail-img" alt="...">
                    </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-md-6">
            <h3 class="display-4 fw-bold mb-3"><%= item.model.name %></h3>
            <p class="lead text-muted"><%= ['Current','Rare','Recycle','Unknown'][item.category] %></p>
            <hr class="my-4">
            <h5 class="fw-bold mb-4">Specification: </h5>
            <div class="row" id="item-info">
                <div class="col-6">
                    <% item.details.slice(0, Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p><span class="fw-bold"><%= detail.name%>:</span> <%= detail.value %></p>
                    <% }) %>
                        <p><span class="fw-bold">Device Type:</span> <%= item.device_type.name %></p>
                </div>
                <div class="col-6">
                    <% item.details.slice(Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p><span class="fw-bold"><%= detail.name%>:</span> <%= detail.value %></p>
                    <% }) %>
                        <p><span class="fw-bold">Device Condition:</span> <%= item.good_condition ? 'Good': 'Poor'%></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light text-dark p-4 mt-4">
        <div class="col-md-12">
            <h5 class="fw-bold">Description: </h5>
            <p class="lead"><%= item.additional_details%></p>
            <h5 class="fw-bold mt-4">Quotes</h5>
            <div class="card border-primary mt-3">
                <div class="row g-0">
                    <div class="col-md-2 mt-2 align-middle">
                        <img src="/assets/cex-logo.png" class="img-fluid rounded-start" alt="CEX Logo">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">Price: £350</h5>
                            <p class="card-text">Quotation from CEX for the same product or similar products.</p>
                            <p class="card-text"><small>Fetched from CEX site</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../components/footer.ejs') %>