<%- include('../components/header') %>

<%- include('../components/navbar') %>

<div class="container-fluid item-detail mt-5">
    <div class="row bg-light p-4">
        <div id="carouselExample" class="carousel slide col-md-6 mb-4 bg-light">
            <div class="carousel-inner ">
                <% item.photos.forEach((photo, index) => {%>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img src="<%= photo.replace('public', '') %>" class="d-block img-fluid mx-auto detail-img" alt="...">
                    </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-md-6">
            <h3 class="display-4 fw-bold mb-3" id="modelName"><%= item.model.name %><span class="badge <%= Object.keys(deviceState).find(key => deviceState[key] === item.state) === 'LISTED' ? 'bg-success': 'bg-warning'%> ms-2"
                                                                           style="font-size: 0.3em;" id="stateBadge"><%= Object.keys(deviceState).find(key => deviceState[key] === item.state) %></span></h3>

            <p class="lead text-muted"><%= Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) %></p>

            <% if(Object.keys(deviceState).find(key => deviceState[key] === item.state) !== 'LISTED' && item.listing_user.toString() === user.id) {%>
                <a href="/list-item/<%= item._id %>" class="btn btn-primary" >Edit Details</a>
            <% } %>

            <hr class="my-4">

            <div class="row" id="item-info">
                <h5 class="fw-bold mb-4">Specification: </h5>
                <div class="col">
                    <p><span class="fw-bold">Device Type:</span> <%= item.device_type.name %></p>
                    <% Object.keys(specs).forEach(spec => { %>
                        <% if (['Announced','Status','Dimensions','Size','OS','USB'].includes(spec)) {%>
                            <p><span class="fw-bold"><%= spec %>:</span> <%= specs[spec] %></p>
                    <% }}) %>
                    <p><span class="fw-bold">Device Condition:</span> <%= item.good_condition ? 'Good': 'Poor'%></p>
                </div>
                <h5 class="fw-bold mb-4">Condition: </h5>
                <div class="col-6">
                    <% item.details.slice(0, Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p><span class="fw-bold"><%= detail.name.charAt(0).toUpperCase() + detail.name.slice(1) %>:</span> <%= detail.value %></p>
                    <% }) %>

                </div>
                <div class="col-6">
                    <% item.details.slice(Math.ceil(item.details.length / 2)).forEach(detail => { %>
                        <p><span class="fw-bold"><%= detail.name.charAt(0).toUpperCase() + detail.name.slice(1) %>:</span> <%= detail.value %></p>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light text-dark p-4 mt-4">
        <div class="col-md-12">
            <h5 class="fw-bold">Additional Details: </h5>
            <p class="lead"><%= item.additional_details%></p>
            <!--     Show device if the category is current       -->
            <% if(Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) === "CURRENT") { %>
            <h5 class="fw-bold mt-4">Quotes</h5>
            <% quotes.forEach( quote => {  %>
            <div class="card border-primary mt-3">
                <div class="row g-0">
                    <div class="col-md-2 mt-2 align-middle">
                        <img src="<%= quote.provider.logo %>" class="img-fluid rounded-start" alt="logo">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">Price: £<%= quote.value %></h5>
                            <p class="card-text">Quotation from <%= quote.provider.name %> for the same product or similar products.</p>
                            <p class="card-text"><small>Fetched from <%= quote.provider.name %> site</small></p>
                            <p id="quoteState"></p>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="col-md-1 mt-2 mx-auto">
                            <div class="d-flex justify-content-between align-items-center">
                                <% if (quote.provider.name === 'ebay') { %>
                                        <a href="https://www.ebay.co.uk/sch/i.html?_from=R40&_trksid=p4432023.m570.l1313&_nkw=<%= item.model.name.replace(' ','+') %>" target="_blank" class="btn btn-primary mx-2 my-2">Visit <%= quote.provider.name.toUpperCase() %></a>
                                <% } else { %>
                                        <a href="https://uk.webuy.com/sell/search/?stext=<%= item.model.name.replace(' ','+') %>" target="_blank" class="btn btn-primary mx-2 my-2">Visit <%= quote.provider.name.toUpperCase() %></a>
                                    <% } %>
                                <a class="btn btn-warning mx-2 my-2" id="star-quote">Star Quote</a>
                                <a class="btn btn-primary mx-2 my-2" id="accept-quote">Accept Quote</a>
                                <a class="btn btn-danger mx-2 my-2" id="reject-quote">Reject Quote</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <% })%>
            <% } %>
            <!--     Show device if the category is rare    -->
            <% if(Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) === "RARE") { %>
                <h5 class="fw-bold mt-4">Due to it's rarity, this device can be auctioned</h5>
                <a href="https://www.ebay.co.uk/sl/prelist/suggest" target="_blank" class="btn btn-primary"> Click here to go to eBay auction site</a>
            <% } %>
            <!--     Show device if the category is recycle       -->
            <h5 class="fw-bold mt-4">Do you want to Recycle your device?</h5>
            <div class="btn-group btn-group-sm" role="group">
                <input type="radio" class="btn-check" name="stateRadio" id="stateYes" autocomplete="off" <%= item.category === 2 ? 'checked' : ''%>>
                <label class="btn btn-outline-primary" for="stateYes">Yes</label>

                <input type="radio" class="btn-check" name="stateRadio" id="stateNo" autocomplete="off" <%= item.category !== 2 ? 'checked' : ''%>>
                <label class="btn btn-outline-primary" for="stateNo">No</label>
            </div>
            <h5 class="fw-bold mt-4">Do you want to do data retrieval? It'll cost you an extra £8.99 for the service</h5>
            <div class="btn-group btn-group-sm" role="group">
                <input type="radio" class="btn-check" name="serviceRadio" id="serviceYes" autocomplete="off" <%= item.data_service === 2 ? 'checked' : ''%>>
                <label class="btn btn-outline-primary" for="serviceYes">Yes</label>

                <input type="radio" class="btn-check" name="serviceRadio" id="serviceNo" autocomplete="off" <%= item.data_service !== 2 ? 'checked' : ''%>>
                <label class="btn btn-outline-primary" for="serviceNo">No</label>
            </div>
            <a class="btn btn-success" id="checkBtn">Checkout</a>
        </div>
    </div>
</div>
<script src="/javascripts/marketplace/quote_states.js"></script>

<%- include('../components/footer.ejs') %>

