<%- include('../components/header') %>
<%- include('../components/navbar') %>

<div class="m-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded shadow">
                <div class="card-body p-4">
                    <h1 class="fw-bold text-center">Listing an Item</h1>
<!--                    Image of item-->

                    <div class="mb-3">
                        <label for="itemImage" class="form-label">Pick images of the device</label>
                        <div id="imagePreview" class="row p-1"></div>
                        <input class="form-control" type="file" id="itemImage" name="itemImage" accept="image/*"  multiple>
                    </div>



<!--                    Device information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device information</p>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!--                        Type -->
                                <div class="mb-3 row">
                                    <label for="deviceType" class="col-sm-6 col-lg-4 col-form-label fw-bold">Device Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceType">
                                            <% deviceTypes.forEach(function(device) { %>
                                                <option value="<%= device.id %>"><%= device.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!--                        Brand -->
                                <div class="mb-3 row">
                                    <label for="deviceBrand" class="col-sm-6 col-lg-4 col-form-label fw-bold">Brand</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceBrand">
                                            <% brands.forEach(function(brand) { %>
                                                <option value="<%= brand.id %>"><%= brand.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!--                        Model-->
                                <div class="mb-3 row">
                                    <label for="deviceModel" class="col-sm-6 col-lg-4 col-form-label fw-bold">Model</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceModel">

                                        </select>
                                    </div>
                                </div>
                                <p class="text-primary" data-bs-toggle="modal" data-bs-target="#model" >* Can't Find Your Model? Click and Add a New One.</p>
                                <!--                        Custom Model-->
                                <div class="modal fade" id="model" tabindex="-1" aria-labelledby="model" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="model">New Model</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="custom-device-type" class="col-form-label">Device Type:</label>
                                                        <input type="text" class="form-control" id="custom-device-type">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="custom-brand" class="col-form-label">Brand:</label>
                                                        <input type="text" class="form-control" id="custom-brand">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="custom-model" class="col-form-label">Model:</label>
                                                        <input type="text" class="form-control" id="custom-model">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="custom-submit" data-bs-dismiss="modal">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 col-xl-4" id="selected-model-content">

                            </div>
                        </div>
                    </div>

<!--                    Device Condition-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device Condition</p>
                        <label for="deviceCondition" class="col-sm-4 col-form-label fw-bold ">Is your device in good condition?</label>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Device Condition Choose">
                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionYes" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="conditionYes">Yes</label>

                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionNo" autocomplete="off">
                            <label class="btn btn-outline-primary" for="conditionNo">No</label>
                        </div>
                        <ul class="text-muted">
                            <li>It turns on and functions normally</li>
                            <li>All the buttons work</li>
                            <li>The cameras work and all lenses are free of damage</li>
                            <li>The battery is able to remain charged and provide continuous use time</li>
                            <li>The body is free of dents and scratches</li>
                            <li>The touchscreen and back glass are undamaged</li>
                            <li>The display is free of distortion, lines and black or white spots</li>
                        </ul>
                    </div>

                    <div id="detail-condition" class="d-none">
                        <div>
                            <label for="deviceFunctionality" class="col-sm-8 col-form-label fw-bold">1. Does your device turn on and work properly?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionalityYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="functionalityYes">Yes</label>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionalityNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="functionalityNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="btnCondition" class="col-sm-8 col-form-label fw-bold">2. All the buttons are working probably?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="btnRadio" id="btnYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="btnYes">Yes</label>

                                <input type="radio" class="btn-check" name="btnRadio" id="btnNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="cameraCondition" class="col-sm-8 col-form-label fw-bold">3. The cameras work and all lenses are free of damage?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <input type="radio" class="btn-check" name="cameraRadio" id="cameraYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="cameraYes">Yes</label>

                                <input type="radio" class="btn-check" name="cameraRadio" id="cameraNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="cameraNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="batteryCondition" class="col-sm-8 col-form-label fw-bold">4. The battery is able to remain charged and provide continuous use time?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="batteryRadio" id="batteryYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="batteryYes">Yes</label>

                                <input type="radio" class="btn-check" name="batteryRadio" id="batteryNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="batteryNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="bodyCondition" class="col-sm-8 col-form-label fw-bold">5. The body is free of dents and scratches?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="bodyRadio" id="bodyYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="bodyYes">Yes</label>

                                <input type="radio" class="btn-check" name="bodyRadio" id="bodyNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="bodyNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="touchscreenCondition" class="col-sm-8 col-form-label fw-bold">6. The touchscreen and back glass are undamaged?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreenYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="touchscreenYes">Yes</label>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreenNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="touchscreenNo">No</label>
                            </div>
                        </div>

                        <div>
                            <label for="displayCondition" class="col-sm-8 col-form-label fw-bold ">7. The display is free of distortion, lines and black or white spots?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="displayRadio" id="displayYes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="displayYes">Yes</label>

                                <input type="radio" class="btn-check" name="displayRadio" id="displayNo" autocomplete="off">
                                <label class="btn btn-outline-primary" for="displayNo">No</label>
                            </div>
                        </div>
                    </div>


<!--                    Service add-on-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Service add-on</p>
                        <div>
                            <label for="dataService" class="col-sm-2 col-form-label fw-bold">Data Service</label>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Data Service Choose">
                                <input type="radio" class="btn-check" name="dataRadio" id="dataNone" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="dataNone">None</label>

                                <input type="radio" class="btn-check" name="dataRadio" id="dataWiping" autocomplete="off">
                                <label class="btn btn-outline-primary" for="dataWiping">Wiping by third party</label>

                                <input type="radio" class="btn-check" name="dataRadio" id="dataRetrieval" autocomplete="off">
                                <label class="btn btn-outline-primary" for="dataRetrieval">Data retrieval (+ £8.99)</label>

                            </div>
                        </div>
                    </div>



<!--                    Additional Information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Additional Information</p>
                        <textarea class="form-control" id="additionalInfo" rows="3" placeholder="Please provide any additional details or special requests regarding your device."></textarea>
                    </div>


<!--                    Submit Button-->
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <p class="btn btn-primary mb-3 d-block mx-auto" id="submitBtn">Submit for Approval</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/marketplace/list_item.js"></script>
<%- include('../components/footer') %>