<%- include('../components/header') %>

<div class="m-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded shadow">
                <div class="card-body p-4">
                    <h1 class="fw-bold text-center">Listing an Item</h1>
<!--                    Image of item-->

                    <div class="mb-3">
                        <label for="itemImage" class="form-label">Pick images of the device</label>
                        <div id="imagePreview" class="row p-1"></div>
                        <input class="form-control" type="file" id="itemImage" name="itemImage" accept="image/*"  multiple>
                    </div>



<!--                    Device information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device information</p>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!--                        Type -->
                                <div class="mb-3 row">
                                    <label for="deviceType" class="col-sm-6 col-lg-4 col-form-label fw-bold">Device Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceType">
                                            <% deviceTypes.forEach(function(device) { %>
                                                <option value="<%= device.id %>"><%= device.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!--                        Brand -->
                                <div class="mb-3 row">
                                    <label for="deviceBrand" class="col-sm-6 col-lg-4 col-form-label fw-bold">Brand</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceBrand">
                                            <% brands.forEach(function(brand) { %>
                                                <option value="<%= brand.id %>"><%= brand.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!--                        Model-->
                                <div class="mb-3 row">
                                    <label for="deviceModel" class="col-sm-6 col-lg-4 col-form-label fw-bold">Model</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceModel"></select>
                                    </div>
                                </div>
                                <p class="text-primary" data-bs-toggle="modal" data-bs-target="#model" >* Can't Find Your Model? Click and Add a New One.</p>
                                <!--                        Custom Model-->
                                <div class="modal fade" id="model" tabindex="-1" aria-labelledby="model" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="model">New Model</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="custom-device-type" class="col-form-label">Device Type:</label>
                                                        <input type="text" class="form-control" id="custom-device-type">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="custom-brand" class="col-form-label">Brand:</label>
                                                        <input type="text" class="form-control" id="custom-brand">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="custom-model" class="col-form-label">Model:</label>
                                                        <input type="text" class="form-control" id="custom-model">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="custom-submit" data-bs-dismiss="modal">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 col-xl-4" id="selected-model-content"></div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 row">
                                    <label for="deviceColor" class="col-sm-6 col-lg-4 col-form-label fw-bold">Color</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceColor">
                                            <% colors.forEach(color => { %>
                                                <option value="<%= color %>"><%= color %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="deviceCapacity" class="col-sm-6 col-lg-4 col-form-label fw-bold">Capacity</label>
                                    <div class="col-sm-6">
                                        <select class="form-select" id="deviceCapacity">
                                            <% capacities.forEach(capacity => { %>
                                                <option value="<%= capacity %>"><%= capacity %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="deviceYear" class="col-form-label fw-bold">How many years have you had the device?</label>
                                    <div>
                                        <input type="number" class="form-control" id="deviceYear" name="deviceYear" min="0" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    Device Condition-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Device Condition</p>
                        <label for="deviceCondition" class="col-sm-4 col-form-label fw-bold ">Is your device in good condition?</label>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Device Condition Choose">
                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionYes" checked>
                            <label class="btn btn-outline-primary" for="conditionYes">Yes</label>

                            <input type="radio" class="btn-check" name="conditionRadio" id="conditionNo" >
                            <label class="btn btn-outline-primary" for="conditionNo">No</label>
                        </div>
                        <ul class="text-muted">
                            <li>It turns on and functions normally</li>
                            <li>All the buttons work</li>
                            <li>The cameras work and all lenses are free of damage</li>
                            <li>The battery is able to remain charged and provide continuous use time</li>
                            <li>The body is free of dents and scratches</li>
                            <li>The touchscreen and back glass are undamaged</li>
                            <li>The display is free of distortion, lines and black or white spots</li>
                        </ul>
                    </div>

                    <div id="detail-condition" class="d-none">
                        <div class="mb-3">
                            <label for="functionalityRadio" class="d-block col-form-label fw-bold">1. How well would you rate the overall functionality of the device?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionality1" value="1">
                                <label class="btn btn-outline-primary" for="functionality1">1</label>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionality2" value="2">
                                <label class="btn btn-outline-primary" for="functionality2">2</label>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionality3" value="3">
                                <label class="btn btn-outline-primary" for="functionality3">3</label>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionality4" value="4">
                                <label class="btn btn-outline-primary" for="functionality4">4</label>

                                <input type="radio" class="btn-check" name="functionalityRadio" id="functionality5" value="5" checked>
                                <label class="btn btn-outline-primary" for="functionality5">5</label>

                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="btnRadio" class="d-block col-form-label fw-bold">2. How well would you rate the functionality of all the buttons?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="btnRadio" id="btn1" value="1">
                                <label class="btn btn-outline-primary" for="btn1">1</label>

                                <input type="radio" class="btn-check" name="btnRadio" id="btn2" value="2">
                                <label class="btn btn-outline-primary" for="btn2">2</label>

                                <input type="radio" class="btn-check" name="btnRadio" id="btn3" value="3">
                                <label class="btn btn-outline-primary" for="btn3">3</label>

                                <input type="radio" class="btn-check" name="btnRadio" id="btn4" value="4">
                                <label class="btn btn-outline-primary" for="btn4">4</label>

                                <input type="radio" class="btn-check" name="btnRadio" id="btn5" value="5" checked>
                                <label class="btn btn-outline-primary" for="btn5">5</label>

                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="cameraRadio" class="d-block col-form-label fw-bold">3. How well would you rate the performance of the cameras and the condition of all lenses?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="cameraRadio" id="camera1" value="1">
                                <label class="btn btn-outline-primary" for="camera1">1</label>

                                <input type="radio" class="btn-check" name="cameraRadio" id="camera2" value="2">
                                <label class="btn btn-outline-primary" for="camera2">2</label>

                                <input type="radio" class="btn-check" name="cameraRadio" id="camera3" value="3">
                                <label class="btn btn-outline-primary" for="camera3">3</label>

                                <input type="radio" class="btn-check" name="cameraRadio" id="camera4" value="4">
                                <label class="btn btn-outline-primary" for="camera4">4</label>

                                <input type="radio" class="btn-check" name="cameraRadio" id="camera5" value="5" checked>
                                <label class="btn btn-outline-primary" for="camera5">5</label>
                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="batteryRadio" class="d-block col-form-label fw-bold">4. How well would you rate the battery's ability to remain charged and provide continuous use time?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="batteryRadio" id="battery1" value="1">
                                <label class="btn btn-outline-primary" for="battery1">1</label>

                                <input type="radio" class="btn-check" name="batteryRadio" id="battery2" value="2">
                                <label class="btn btn-outline-primary" for="battery2">2</label>

                                <input type="radio" class="btn-check" name="batteryRadio" id="battery3" value="3">
                                <label class="btn btn-outline-primary" for="battery3">3</label>

                                <input type="radio" class="btn-check" name="batteryRadio" id="battery4" value="4">
                                <label class="btn btn-outline-primary" for="battery4">4</label>

                                <input type="radio" class="btn-check" name="batteryRadio" id="battery5" value="5" checked>
                                <label class="btn btn-outline-primary" for="battery5">5</label>

                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="bodyRadio" class="d-block col-form-label fw-bold">5. How well would you rate the condition of the device body in terms of dents and scratches?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="bodyRadio" id="body1" value="1">
                                <label class="btn btn-outline-primary" for="body1">1</label>

                                <input type="radio" class="btn-check" name="bodyRadio" id="body2" value="2">
                                <label class="btn btn-outline-primary" for="body2">2</label>

                                <input type="radio" class="btn-check" name="bodyRadio" id="body3" value="3">
                                <label class="btn btn-outline-primary" for="body3">3</label>

                                <input type="radio" class="btn-check" name="bodyRadio" id="body4" value="4">
                                <label class="btn btn-outline-primary" for="body4">4</label>

                                <input type="radio" class="btn-check" name="bodyRadio" id="body5" value="5" checked>
                                <label class="btn btn-outline-primary" for="body5">5</label>
                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="touchscreenRadio" class="d-block col-form-label fw-bold">6. How well would you rate the condition of the touchscreen and back glass in terms of damage?</label>
                            <div class="btn-group btn-group-sm" role="group" >
                                <span class="me-2">Poor</span>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen1" value="1">
                                <label class="btn btn-outline-primary" for="touchscreen1">1</label>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen2" value="2">
                                <label class="btn btn-outline-primary" for="touchscreen2">2</label>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen3" value="3">
                                <label class="btn btn-outline-primary" for="touchscreen3">3</label>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen4" value="4">
                                <label class="btn btn-outline-primary" for="touchscreen4">4</label>

                                <input type="radio" class="btn-check" name="touchscreenRadio" id="touchscreen5" value="5" checked>
                                <label class="btn btn-outline-primary" for="touchscreen5">5</label>

                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="displayRadio" class="d-block col-form-label fw-bold ">7. How well would you rate the display in terms of distortion, lines, and the presence of black or white spots?</label>
                            <div class="btn-group btn-group-sm" role="group">
                                <span class="me-2 ">Poor</span>

                                <input type="radio" class="btn-check" name="displayRadio" id="display1" value="1">
                                <label class="btn btn-outline-primary" for="display1">1</label>

                                <input type="radio" class="btn-check" name="displayRadio" id="display2" value="2">
                                <label class="btn btn-outline-primary" for="display2">2</label>

                                <input type="radio" class="btn-check" name="displayRadio" id="display3" value="3">
                                <label class="btn btn-outline-primary" for="display3">3</label>

                                <input type="radio" class="btn-check" name="displayRadio" id="display4" value="4">
                                <label class="btn btn-outline-primary" for="display4">4</label>

                                <input type="radio" class="btn-check" name="displayRadio" id="display5" value="5" checked>
                                <label class="btn btn-outline-primary" for="display5">5</label>

                                <span class="ms-2">Excellent</span>
                            </div>
                        </div>
                    </div>

<!--                    Additional Information-->
                    <div class="my-3">
                        <p class="fw-bold fs-5">Additional Information</p>
                        <textarea class="form-control" id="additionalInfo" rows="3" placeholder="Please provide any additional details or special requests regarding your device."></textarea>
                    </div>


<!--                    Submit Button-->
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <p class="btn btn-primary mb-3 d-block mx-auto" id="submitBtn">Submit for Approval</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/marketplace/list_item.js"></script>
