<link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/style.css">


<div class="mx-4 marketplace">
    <%- include("../components/navbar.ejs") %>

<!--    Search Bar-->
    <input type="search" class="form-control ds-input mt-3" id="search-input"
           placeholder="Search items...">

    <!--Filter and Sorter-->
    <div class="row mt-4 mt-3">
        <p class="fw-bold">Classification: </p>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="currentClass" autocomplete="off">
            <label class="btn btn-outline-primary" for="currentClass">Current</label>

            <input type="checkbox" class="btn-check" id="recycleClass" autocomplete="off">
            <label class="btn btn-outline-primary" for="recycleClass">Recycle</label>

            <input type="checkbox" class="btn-check" id="rareClass" autocomplete="off">
            <label class="btn btn-outline-primary" for="rareClass">Rare</label>

            <input type="checkbox" class="btn-check" id="UnknownClass" autocomplete="off">
            <label class="btn btn-outline-primary" for="UnknownClass">Unknown</label>
        </div>
    </div>

    <div class="row mt-2">
        <p class="fw-bold">Device Type: </p>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="phoneCheck" autocomplete="off">
            <label class="btn btn-outline-primary" for="phoneCheck">Phone</label>

            <input type="checkbox" class="btn-check" id="tabletCheck" autocomplete="off">
            <label class="btn btn-outline-primary" for="tabletCheck">Tablet</label>

            <input type="checkbox" class="btn-check" id="laptopCheck" autocomplete="off">
            <label class="btn btn-outline-primary" for="laptopCheck">Laptop</label>

            <input type="checkbox" class="btn-check" id="watchCheck" autocomplete="off">
            <label class="btn btn-outline-primary" for="watchCheck">Watch</label>

            <input type="checkbox" class="btn-check" id="pcCheck" autocomplete="off">
            <label class="btn btn-outline-primary" for="pcCheck">PC</label>
        </div>
    </div>

    <div class="row mt-2">
        <p class="fw-bold">Pricing: </p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="priceOrder" id="priceDescending" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="priceDescending">Descending</label>

            <input type="radio" class="btn-check" name="priceOrder" id="priceAscending" autocomplete="off">
            <label class="btn btn-outline-primary" for="priceAscending">Ascending</label>

        </div>
    </div>

<!--items list-->
    <div class="row g-2 mt-2">
        <% items.forEach(item => { %>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card h-100">
                    <img src="<%= item.picUrl %>" class="card-img-top img-fluid item-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="m-0 ">Device Type: <span class="fw-light fst-italic text-muted"><%= item.deviceType %></span></p>
                        <p class="m-0">Classifications: <span class="fw-light fst-italic text-muted"><%= item.classification %></span></p>
                        <p class="m-0 mb-3">Reference Price: <span class="fw-light fst-italic text-muted">£<%= item.price %></span></p>
                        <p >By: <span class="fw-light fst-italic text-muted"><%= item.owner %></span></p>
                        <div class="btn btn-primary btn-sm mb-1 item-detail-btn"> View </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>