<%- include("../components/header") %>

<div class="container-fluid vh-100">
    <div class="mx-4 my_items">

        <!--Filter and Sorter-->
        <div class="row mt-4 mt-3">
            <div class="row mb-1">
                <p class="fw-bold col-6 col-sm-8 col-md-10 mb-0">Category: </p>
                <button class="btn btn-primary btn-sm col-6 col-sm-4 col-md-2" id="clearFiltersBtn">Clear Filters</button>
            </div>
            <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
                <% deviceCategory.getList().forEach(category => { %>
                    <input type="checkbox" class="btn-check category-filter" id="<%= deviceCategory.deviceCategoryToString(category) %>">
                    <label class="btn btn-outline-primary" for="<%= deviceCategory.deviceCategoryToString(category) %>"><%= deviceCategory.deviceCategoryToString(category) %></label>
                <% }) %>
            </div>
        </div>


        <div class="row mt-2">
            <p class="fw-bold mb-0">Device Type: </p>
            <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
                <% deviceTypes.forEach(deviceType => { %>
                    <input type="checkbox" class="btn-check deviceType-filter" id="<%= deviceType.name %>" autocomplete="off">
                    <label class="btn btn-outline-primary" for="<%= deviceType.name %>"><%= deviceType.name %></label>
                <% }) %>
            </div>
        </div>


        <% items.forEach(item => { %>
            <div class="card mt-4 item">
                <div class="card-body row d-flex align-items-center">
                    <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1">
                        <% if (item.photos?.length > 0) { %>
                            <img src="data:<%= item.photos[0]?.img_type %>;base64,<%= Buffer.from(item.photos[0]?.img_data).toString('base64') %>" class="img-fluid item-img cover-image"
                                 alt="Image of <%= item.model.name %>">
                        <% } else { %>
                            <img src="https://placehold.co/600x600?text=No Images" class="img-fluid item-img cover-image"
                                 alt="Image of <%= item.model.name %>">
                        <% } %>
                    </div>
                    <div class="col-8 col-sm-7 col-md-8 col-lg-9 col-xl-10 pt-1">
                        <h4 class="d-flex align-items-center"><%= item.model.name %>
                            <span
                                    class="badge <%= deviceState.deviceStateToColour(item.state, "bg-") %> ms-2"
                                    style="font-size: 0.5em;"><%= deviceState.deviceStateToString(item.state) %>
                            </span>

                            <span
                                    class="badge <%= (!item.visible) ? "bg-danger" : "d-none" %> ms-2"
                                    style="font-size: 0.5em">Hidden
                            </span>
                        </h4>
                        <p class="m-0 p-0 text-muted deviceType"><small>Device Type: </small><%= item.device_type.name %></p>
                        <p class="m-0 p-0 text-muted category">
                            <small>Classification: </small><%= deviceCategory.deviceCategoryToString(item.category) %>
                        </p>
                        <!--   TODO: once quotation is done, add the price here        -->
                        <% quotations.forEach(quoteArray => { %>
                            <% if (quoteArray.length > 0) { %>
                                <% const firstQuote = quoteArray[0] %>
                                <% if(firstQuote.device.equals(item._id)) { %>
                                    <p class="m-0 p-0 text-muted"><small>Price: </small>£<%= firstQuote.value %></p>
                                <% } %>
                            <% } %>
                        <% }) %>
                    </div>
                    <div class="col-12 col-sm-2 col-lg-1">
                        <a href="/item/<%= item._id %>" class="w-100 mt-2 btn btn-primary btn-sm ">View</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="/javascripts/marketplace/filter.js"></script>


