<%- include("../components/header") %>

<%- include("../components/navbar") %>

<div class="container-fluid vh-100">
    <div class="mx-4 my_items">

        <!--Filter and Sorter-->
        <div class="row mt-4 mt-3">
            <p class="fw-bold">Category: </p>
            <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
                <% Object.keys(deviceCategory).forEach(category => { %>
                    <input type="checkbox" class="btn-check category-filter" id="<%= category %>">
                    <label class="btn btn-outline-primary" for="<%= category %>"><%= category %></label>
                <% }) %>
            </div>
        </div>


        <div class="row mt-2">
            <p class="fw-bold">Device Type: </p>
            <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
                <% deviceTypes.forEach(deviceType => { %>
                    <input type="checkbox" class="btn-check deviceType-filter" id="<%= deviceType.name %>" autocomplete="off">
                    <label class="btn btn-outline-primary" for="<%= deviceType.name %>"><%= deviceType.name %></label>
                <% }) %>
            </div>
        </div>

<!--        <div class="row mt-2">-->
<!--            <p class="fw-bold">Pricing: </p>-->
<!--            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--                <input type="radio" class="btn-check price-filter" name="priceOrder" id="priceDescending" autocomplete="off">-->
<!--                <label class="btn btn-outline-primary" for="priceDescending">Descending</label>-->

<!--                <input type="radio" class="btn-check price-filter" name="priceOrder" id="priceAscending" autocomplete="off">-->
<!--                <label class="btn btn-outline-primary" for="priceAscending">Ascending</label>-->

<!--            </div>-->
<!--        </div>-->
        <button class="btn btn-primary btn-sm mt-2" id="clearFiltersBtn">Clear Filters</button>

        <% items.forEach(item => { %>
            <div class="card mt-4 item">
                <div class="card-body row d-flex align-items-center">
                    <div class="col-3 col-md-2 col-lg-2 col-xl-1">
                        <% if (item.photos?.length > 0) { %>
                            <img src="<%= item.photos[0].replace('public', '') %>" class="img-fluid item-img"
                                 alt="Image of <%= item.model.name %>">
                        <% } else { %>
                            <img src="https://placehold.co/600x600?text=No Images" class="img-fluid item-img"
                                 alt="Image of <%= item.model.name %>">
                        <% } %>
                    </div>
                    <div class="col-6 col-md-8 col-lg-7 col-xl-8">
                        <h4 class="d-flex align-items-center"><%= item.model.name %><span
                                    class="badge <%= Object.keys(deviceState).find(key => deviceState[key] === item.state) === 'LISTED' ? 'bg-success' : 'bg-warning' %> ms-2"
                                    style="font-size: 0.3em;"><%= Object.keys(deviceState).find(key => deviceState[key] === item.state) %></span>
                        </h4>
                        <p class="m-0 p-0 text-muted deviceType"><small>Device Type: </small><%= item.device_type.name %></p>
                        <p class="m-0 p-0 text-muted category">
                            <small>Classification: </small><%= Object.keys(deviceCategory).find(key => deviceCategory[key] === item.category) %>
                        </p>
                        <!--   TODO: once quotation is done, add the price here        -->
                        <% quotations.forEach(quoteArray => { %>
                            <% if (quoteArray.length > 0) { %>
                                <% const firstQuote = quoteArray[0] %>
                                <% if(firstQuote.device.equals(item._id)) { %>
                                    <p class="m-0 p-0 text-muted"><small>Price: </small>£<%= firstQuote.value %></p>
                                <% } %>
                            <% } %>
                        <% }) %>
                    </div>
                    <div class="col-3 col-md-2 col-lg-3 col-xl-3 d-flex justify-content-end align-items-center">
                        <a href="/item/<%= item._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="/javascripts/marketplace/filter.js"></script>

<%- include("../components/footer") %>
```