<div class="container-fluid">
    <div class="mt-3 mb-5">
        <p class="m-0">Welcome back,</p>
        <h2 class="fw-semibold"><%= userData.first_name %> <%= userData.last_name %></h2>
        <hr>
    </div>
    <h4>Marketplace</h4>

    <% if (marketContains) { %>
        <div class="row mt-3">
            <% var displayDevices = marketDevices.length <= 6 ? marketDevices : marketDevices.slice(0, 6) %>
            <% displayDevices.forEach(device => { %>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 item mb-2">
                    <div class="card h-100">
                        <img src="data:<%= device.photos[0]?.img_type %>;base64,<%= Buffer.from(device.photos[0]?.img_data ?? "").toString('base64') %>"
                             class="card-img-top img-fluid item-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title modelName"><%= device.model.name %></h5>
                            <p class="m-0 p-0 text-muted deviceType"><small>Device
                                    Type: </small><%= device.device_type.name %></p>
                            <p class="m-0 p-0 text-muted category">
                                <small>Classification: </small><%= deviceCategory.deviceCategoryToString(device.category) %>
                            <p class="m-0">By: <span
                                        class="fw-light fst-italic text-muted"><%= device.listing_user.first_name %></span>
                            </p>
                        </div>
                        <a class="btn btn-primary btn-sm mb-1 mx-2" href="/item/<%= device._id %>"> View</a>
                    </div>
                </div>
            <% }) %>
        </div>

    <% } else { %>
        <p class="text-muted">Marketplace has no devices listed</p>
    <% } %></div>

<div class="row mt-3">
        <h4>My Items <a href="/my-items/" class="btn btn-primary btn-sm">View All</a></h4>
    <% if (userContains) { %>

            <% displayDevices = devices.length <= 6 ? devices : devices.slice(0, 6) %>
            <% displayDevices.forEach(device => { %>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 item mb-2">
                    <div class="card h-100">
                        <img src="data:<%= device.photos[0]?.img_type %>;base64,<%= Buffer.from(device.photos[0]?.img_data ?? "").toString('base64') %>"
                             class="card-img-top img-fluid item-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title modelName"><%= device.model.name %></h5>
                            <p class="m-0 p-0 text-muted deviceType"><small>Device
                                    Type: </small><%= device.device_type.name %></p>
                            <p class="m-0 p-0 text-muted category">
                                <small>Classification: </small><%= deviceCategory.deviceCategoryToString(device.category) %>
                        </div>
                        <a class="btn btn-primary btn-sm mb-1 mx-2" href="/item/<%= device._id %>"> View</a>

                </div>

        </div>
        <% }) %>
    <% } else { %>
        <p class="text-muted">You have no devices listed here</p>
    <% } %>
</div>
</div>