<%- include("../components/header") %>
<%- include("../components/navbar") %>

<div class="container-fluid  w-100">
    <div class="row">
        <div class="col-md-3 col-lg-2 bg-dark m-0 py-2 py-md-0 px-3 h-auto h-md-100 vh-md-100" style="opacity: 85%">
            <nav id="sidebarMenu" class="d-md-block sidebar text-light text-center text-md-start">
                <div class="position-sticky pt-3">
                    <a class="navbar-brand fs-4 fw-medium" href="/admin">
                        <!-- Logo Placeholder -->
                        <div class="bg-body-secondary text-center mx-3">
                            <small class="text-muted fst-italic py-2">Logo</small>
                        </div>
                    </a>

                    <hr>

                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="/admin">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/accounts">
                                Manage Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/reports">
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/devices">
                                Devices
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/types">
                                Types
                            </a>
                        </li>
                    </ul>

                    <hr>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/profile">
                                My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST" class="m-0">
                                <button class="nav-link text-white text-center text-md-start w-100" type="submit">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-md-9 col-lg-10 px-md-4 h-100">
            <% if(currentRoute === undefined) { %>
                <%- include('dashboard') %>
            <% } else if (placeholder !== null){ %>
                <p><%= placeholder %></p>
            <% } else { %>
                <%- include(currentRoute) %>
            <% } %>
        </div>
    </div>

    <%- include("../components/footer") %>
</div>