<%- include("../components/header.ejs") %>
<script src="https://kit.fontawesome.com/4d524946a0.js" crossorigin="anonymous"></script>
<div class="w-50 h-100 m-auto">
    <h3 class="fw-bold">Admin Dashboard</h3>
    <h4>Welcome, <%= admin.name + " " + admin.lastName%></h4>
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <div class="card bg-danger">
                    <div class="card-body d-flex align-content-center justify-content-around">
                        <p class="h3 text-center text-white m-0 align-self-center"><%= numOfUsers%><br>Users</p>
                        <img src="/assets/user.svg" alt="">
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-0 text-center">Total number of users in the system</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body d-flex align-content-center justify-content-around">
                        <p class="h3 text-center text-white m-0 align-self-center"><%= numOfFinishedTransactions %><br>Sales</p>
                        <img src="/assets/transaction.svg" alt="">
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-0 text-center">Finished transactions</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success">
                    <div class="card-body d-flex align-content-center justify-content-around">
                        <p class="h3 text-center text-white m-0 align-self-center"><%= savedCo2 %><br>Nkg</p>
                        <img src="/assets/leaf.svg" alt="">
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-0 text-center">Saved Nkg of C02 because of eWaste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mb-3">
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/user-management">User Management</a>
            </div>
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/reports">Reports</a>
            </div>
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/item-list">Items List</a>
            </div>
        </div>
        <div class="row  mb-3">
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/suspicious-reports">Suspicious reports</a>
            </div>
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/reports">Reports</a>
            </div>
            <div class="col">
                <a class="d-block btn btn-lg btn-outline-primary w-75 pt-3 pb-3 ms-auto me-auto" href="/admin/item-list">Items List</a>
            </div>
        </div>
    </div>
</div>