<div class="container">
    <div class="row my-3">
        <div class="col-md-12 text-center">
            <h2>List of Devices</h2>
            <hr>
        </div>

    </div>

    <div class="btn btn-warning"><a href="/admin/devices/flagged" class="text-decoration-none text-white">Flagged
            Devices</a></div>

    <div class="row">
        <div class="col-12">
            <% if (typeof (error) !== "undefined") { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> <%= error %>
                </div>
            <% } else { %>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="user_management">
                        <thead>
                        <tr>
                            <th>Device ID</th>
                            <th>Device Type</th>
                            <th>Device Brand</th>
                            <th>Device Model</th>
                            <th>Category</th>
                            <th>State</th>
                            <th>Visibility</th>
                            <th>Listing User</th>
                            <th><i class="fas fa-eye"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% devices.forEach(function(device) { %>
                            <tr>
                                <td><%= device._id %></td>
                                <td><%= device.device_type?.name %></td>
                                <td><%= device.brand?.name %></td>
                                <td><%= device.model?.name %></td>
                                <td><%= Object.keys(deviceCategory).find(key => deviceCategory[key] === device.category) %></td>
                                <td><span class="badge <%= Object.keys(deviceState).find(key => deviceState[key] === device.state) === 'LISTED' ? 'bg-success' : 'bg-warning' %> ms-2"><%= Object.keys(deviceState).find(key => deviceState[key] === device.state) %></span></td>
                                <td><%= device.visible %></td>
                                <td><%= device.listing_user?._id %></td>
                                <td><a href="/admin/devices/<%= device._id %>" class="btn btn-primary">View</a></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>


<script src="/javascripts/userManagement/userManagement.js"></script>

