<div class="container-fluid mb-5">
    <div class="row my-3">
        <div class="col-md-12">
            <h2 class="fw-semibold">
                <span class="fa-stack">
                    <i class="fa-solid fa-stack-2x fa-square"></i>
                    <i class="fa-solid fa-stack-1x fa-magnifying-glass text-white"></i>
                </span>
                Types
            </h2>
        </div>
    </div>


    <div class="card rounded-4 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Actions</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#deviceTypeModal">
                        Register New Device Type
                    </button>
                </div>

                <div class="col-md-4">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#brandModal">Register
                        New Brand
                    </button>
                </div>

                <div class="col-md-4">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#modelModal">
                        Register
                        New Model
                    </button>
                </div>
            </div>


            <div class="modal fade" id="deviceTypeModal" tabindex="-1" aria-labelledby="deviceTypeModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-secondary-subtle rounded-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deviceTypeModal">
                                <span class="fa-stack">
                                    <i class="fa-solid fa-stack-2x fa-square"></i>
                                    <i class="fa-solid fa-stack-1x fa-cube text-white"></i>
                                </span>
                                New Device Type
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="card rounded-4 shadow-sm">
                                            <div class="card-body p-4">
                                                <h5 class="fw-bold">
                                                    <i class="fa-solid fa-info-circle"></i>
                                                    Type Information
                                                </h5>
                                                <div class="form-floating pb-2">
                                                    <input type="text" class="form-control" id="device-type-name">
                                                    <label for="device-type-name" class="">Device Type Name:</label>
                                                </div>
                                                <div class="form-floating">
                                                    <textarea class="form-control"
                                                              id="device-type-description"></textarea>
                                                    <label for="device-type-description" class="">Description:</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary w-100 rounded-4"
                                            data-bs-dismiss="modal"
                                            id="deviceType-submit">Register
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-secondary-subtle rounded-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="brandModal">
                                <span class="fa-stack">
                                    <i class="fa-solid fa-stack-2x fa-square"></i>
                                    <i class="fa-solid fa-stack-1x fa-cube text-white"></i>
                                </span>
                                New Brand
                            </h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="card rounded-4 shadow-sm">
                                            <div class="card-body p-4">
                                                <h5 class="fw-bold">
                                                    <i class="fa-solid fa-info-circle"></i>
                                                    Brand Information
                                                </h5>

                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="brand-name">
                                                    <label for="brand-name" class="">Brand Name:</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary w-100 rounded-4"
                                            data-bs-dismiss="modal"
                                            id="brand-submit">Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modelModal" tabindex="-1" aria-labelledby="modelModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 bg-secondary-subtle">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modelModal">
                                <span class="fa-stack">
                                    <i class="fa-solid fa-stack-2x fa-square"></i>
                                    <i class="fa-solid fa-stack-1x fa-cube text-white"></i>
                                </span>
                                New Model
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="card rounded-4 shadow-sm">
                                            <div class="card-body p-4">
                                                <h5 class="fw-bold">
                                                    <i class="fa-solid fa-info-circle"></i>
                                                    Model Information
                                                </h5>
                                                <div class="form-floating pb-2">
                                                    <select class="form-select" id="device-type-for-model">
                                                        <% deviceTypes.forEach(function(device) { %>
                                                            <option value="<%= device.id %>"><%= device.name %></option>
                                                        <% }); %>
                                                    </select>
                                                    <label for="device-type-for-model" class="">Device Type</label>
                                                </div>

                                                <div class="form-floating pb-2">
                                                    <select class="form-select" id="device-brand-for-model">
                                                        <% brands.forEach(function(brand) { %>
                                                            <option value="<%= brand.id %>"><%= brand.name %></option>
                                                        <% }); %>
                                                    </select>
                                                    <label for="device-brand-for-model" class="">Brand:</label>
                                                </div>
                                                <div class="form-floating pb-2">
                                                    <input type="text" class="form-control" id="model-name">
                                                    <label for="model-name" class="">Model Name:</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary w-100 rounded-4"
                                            data-bs-dismiss="modal"
                                            id="model-submit">Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card rounded-4 mt-3 mb-2 shadow-sm">
        <div class="card-body">
            <nav class="nav nav-pills nav-justified ">
                <a class="nav-link rounded-end-0 <%= subpage === "brands" ? "active" : "border border-primary-subtle" %>"
                   aria-current="page"
                   href="/admin/types/brands">Brands</a>
                <a class="nav-link rounded-start-0 rounded-end-0 <%= subpage === "models" ? "active" : "border border-primary-subtle" %>"
                   href="/admin/types/models">Models</a>
                <a class="nav-link rounded-start-0 <%= subpage === "device-types" ? "active" : "border border-primary-subtle" %>"
                   href="/admin/types/device-types">Types</a>
            </nav>
        </div>
    </div>

    <div class="card rounded-4 mb-2 shadow-sm">
        <div class="card-body">
            <%- include("components/device_types_tables/" + subpage) %>
        </div>
    </div>
</div>
<!-- Import modals functionality for adding new brands, models and types. -->
<script src="/javascripts/deviceManagement/unknown_devices.js"></script>
