<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <h2 class="fw-semibold">
            <span>
                <a href="/admin/devices" class="text-decoration-none">
                    <i class="fa-solid fa-arrow-left text-dark"></i>
                </a>
            </span>
                <span class="fa-stack">
                    <i class="fa-solid fa-stack-2x fa-square"></i>
                    <i class="fa-solid fa-stack-1x fa-rotate-left text-white"></i>
                </span>
                Data Retrieval Devices
            </h2>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card rounded-4 shadow-sm">
                <div class="card-body">

                    <% if (typeof (error) !== "undefined") { %>
                        <div class="alert alert-danger" role="alert">
                            <strong>Error:</strong> <%= error %>
                        </div>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="devices_management">
                                <thead>
                                <tr>
                                    <th>Device ID</th>
                                    <th>Device Type</th>
                                    <th>Device Brand</th>
                                    <th>Device Model</th>
                                    <th>Category</th>
                                    <th>State</th>
                                    <th>Visibility</th>
                                    <th>Listing User</th>
                                    <th><i class="fas fa-pen"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% devices.forEach(function(device) { %>
                                    <tr>
                                        <td><%= device._id %></td>
                                        <td><%= device.device_type?.name %></td>
                                        <td><%= device.brand?.name %></td>
                                        <td><%= device.model?.name %></td>
                                        <td><%= deviceCategory.deviceCategoryToString(device.category) %></td>
                                        <td>
                                            <span class="badge <%= deviceState.deviceStateToColour(device.state, "bg-") %> mx-auto"><%= deviceState.deviceStateToString(device.state) %></span>
                                        </td>
                                        <td>
                                            <span class="badge <%= (device.visible ? "bg-success" : "bg-danger") %>"><%= (device.visible) ? "Visible" : "Hidden" %></span>
                                        </td>
                                        <td>
                                            <a href="/admin/accounts/<%= device.listing_user?._id %>"> <%= device.listing_user?._id ?? "Unknown User" %> </a>
                                        </td>
                                        <td><a href="/admin/devices/<%= device._id %>/retrieval"
                                               class="btn btn-primary">Go To Retrieval</a></td>
                                    </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/deviceManagement/devices.js"></script>
</div>




