<div class="container-fluid mb-5">
    <div class="row my-3">
        <div class="col-md-12">
            <h2 class="fw-semibold">
                <span class="fa-stack">
                    <i class="fa-solid fa-stack-2x fa-square"></i>
                    <i class="fa-solid fa-stack-1x fa-user text-white"></i>
                </span>
                User Management
            </h2>
        </div>
    </div>


    <div class="card rounded-4 shadow-sm mb-3">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-6 pb-md-0 pb-2">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#userModal">
                        Create New User
                    </button>
                </div>
                <div class="col-md-6 justify-content-center align-content-center">
                    <div class="w-100 h-100 border rounded-2 d-flex align-content-center">
                        <div class="form-check form-switch my-auto mx-auto d-flex justify-content-center align-content-center">
                            <input type="checkbox" class="form-check-input" id="staffOnly">
                            <label class="form-check-label" for="staffOnly">Staff Only</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card rounded-4 shadow-sm">
                <div class="card-body">

                    <% if (typeof (error) !== "undefined") { %>
                        <div class="alert alert-danger" role="alert">
                            <strong>Error:</strong> <%= error %>
                        </div>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="user_management">
                                <thead>
                                <tr>
                                    <th>Active/Disabled</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th><i class="fas fa-eye"></i></th>
                                </tr>
                                </thead>
                                <tbody id="userTableBody">

                                <% users.forEach(user => { %>
                                    <% if (user.isDeleted === false) { %>
                                        <tr class="<%= (user.active) ? "" : "bg-danger-subtle" %>">
                                            <td class="text-center">
                                                <div class="badge w-100 bg-<%= (user.active) ? 'success' : 'danger' %>">
                                                    <%= (user.active) ? 'Active' : 'Disabled' %>
                                                </div>
                                            </td>
                                            <td><%= user.email ?? `[EMAIL MISSING]` %></td>
                                            <td><%= (user.first_name ?? "") + " " + (user.last_name ?? "") %></td>
                                            <td class="text-center">
                                                <div class="badge w-100 <%= roleTypes.roleTypeToColour(user.role, 'bg-') %>">
                                                    <%= roleTypes.roleTypeToString(user.role) %>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="/admin/accounts/<%= user._id %>"
                                                   class="btn btn-primary btn-sm w-100">View</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="modals">
    <form method="POST" name="userPermissions" action="/admin/accounts/create" class="w-100">
        <div class="modal modal-lg fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-secondary-subtle rounded-4">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="userModalLabel">
                            <span class="fa-stack">
                                <i class="fa-solid fa-stack-2x fa-square"></i>
                                <i class="fa-solid fa-stack-1x fa-user-plus text-white"></i>
                            </span>
                            Add New User
                        </h1>
                        <div class="alert alert-danger d-none error-message" role="alert">
                            You do not have permission to create an account with this role.
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="pt-2 pb-2 px-5">
                            <div class="row mb-4">
                                <div class="col-md-12 p-0 px-1">
                                    <div class="card rounded-4 shadow-sm">
                                        <div class="card-body p-4">


                                            <div class="row">
                                                <h4 class="fs-5 fw-bold mb-3">
                                                    <i class="fa-solid fa-user"></i>
                                                    Basic details</h4>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 px-1 p-0">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="firstName"
                                                               name="firstName"
                                                               placeholder="First Name" required>
                                                        <label for="firstName">First Name</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 px-1 p-0">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="lastName"
                                                               name="lastName"
                                                               placeholder="Last Name" required>
                                                        <label for="lastName">Last Name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="email" class="form-control" id="email"
                                                               name="email"
                                                               placeholder="name@example.com"
                                                               required>
                                                        <label for="email">Email address</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-8 px-1">
                                                    <div class="form-floating">
                                                        <input type="tel" class="form-control" id="phone"
                                                               name="phone"
                                                               placeholder="+44 00000 000000"
                                                               required>
                                                        <label for="phone">Phone</label>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 px-1">
                                                    <div class="form-floating">
                                                        <input type="date" class="form-control" id="dateOfBirth"
                                                               name="dateOfBirth" required>
                                                        <label for="dateOfBirth">Date of Birth</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <select name="role" id="role" class="form-select">
                                                            <% roleTypes.getList()?.forEach((role) => { %>
                                                                <option value="<%= role %>" <%= role === 0 ? "selected" : "" %>><%= roleTypes.roleTypeToString(role) %></option>
                                                            <% }) %>
                                                        </select>
                                                        <label for="role">Role: </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-md-12 p-0 px-1">
                                    <div class="card rounded-4 shadow-sm">
                                        <div class="card-body p-4">

                                            <h4 class="fw-bold fs-5 mb-3">
                                                <i class="fas fa-map-marker-alt"></i>
                                                Contact Information
                                            </h4>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="address_1"
                                                               name="address_1"
                                                               placeholder="22 High street" required>
                                                        <label for="address_1">Address Line 1</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="address_2"
                                                               name="address_2"
                                                               placeholder="Apartment 07" required>
                                                        <label for="address_2">Address Line 2</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-8 ps-md-1 px-1 px-md-0">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="city"
                                                               name="city"
                                                               placeholder="Sheffield" required>
                                                        <label for="city">City</label>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 pe-md-1 px-1 px-md-0">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control"
                                                               id="postcode"
                                                               name="postcode"
                                                               placeholder="XY0 XYZ0" required>
                                                        <label for="postcode">Postcode</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="county"
                                                               name="county"
                                                               placeholder="United Kingdom" required>
                                                        <label for="county">County</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="country"
                                                               name="country"
                                                               placeholder="United Kingdom" required>
                                                        <label for="country">Country</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-md-12 p-0 px-1">
                                    <div class="card rounded-4 shadow-sm">
                                        <div class="card-body p-4">

                                            <h4 class="fw-bold fs-5 mb-3">
                                                <i class="fas fa-key"></i>
                                                Password
                                            </h4>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="password" class="form-control"
                                                               id="password"
                                                               name="password"
                                                               placeholder="Password"
                                                               required>
                                                        <label for="password">Password</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 px-1">
                                                    <div class="form-floating">
                                                        <input type="password" class="form-control"
                                                               id="confirmPassword"
                                                               name="confirmPassword"
                                                               placeholder="Confirm Password"
                                                               required>
                                                        <label for="confirmPassword">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-md-12 p-0 px-1">
                                    <div class="card rounded-4 shadow-sm">
                                        <div class="card-body p-4">

                                            <h4 class="fw-bold fs-5 mb-3">
                                                <i class="fas fa-wrench"></i>
                                                Actions
                                            </h4>

                                            <div class="row">
                                                <div class="col-md-6 px-1">
                                                    <button type="button" class="btn btn-secondary w-100"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                </div>
                                                <div class="col-md-6 px-1">
                                                    <button class="btn btn-primary w-100" id="submitUser" type="button">
                                                        Create Account
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="/javascripts/userManagement/userManagement.js"></script>
