<div class="pt-4">
    <div class="border-1 border-black border p-5">
        <!--        <form method="POST" name="editUserDetails" class="w-100">-->
        <div class="row">
            <div class="col-md-12">
                <h2>
                    User Details
                    <small class="text-muted">ID: <%= user._id %></small>
                </h2>
                <div class="mt-3 me-auto ms-auto">
                    <img src="https://ui-avatars.com/api/?name=<%= user.first_name + " " + user.last_name %>" class="me-auto ms-auto d-block rounded-circle" alt="Avatar"
                         style="max-width: 150px;">
                </div>
            </div>
        </div>

        <div class="row">
            <h4 class="text-center mt-4 mb-3">Basic details</h4>
        </div>
        <div class="row">
            <div class="shadow-lg ps-4 pe-4 pt-3 pb-3">
                <div class="row">
                    <label for="firstName" class="d-inline-block w-25">First Name: </label>
                    <input name="firstName" id="firstName" class="d-inline-block w-50 form-control"
                           value="<%= user.first_name %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div class="row">
                    <label for="lastName" class="d-inline-block w-25">Last Name: </label>
                    <input name="lastName" id="lastName" class="d-inline-block w-50 form-control"
                           value="<%= user.last_name %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div class="row">
                    <label for="email" class="d-inline-block w-25">Email: </label>
                    <input name="email" id="email" class="d-inline-block w-50 form-control" value="<%= user.email %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-1"/>
            </div>
        </div>

        <div class="row">
            <h4 class="text-center mt-4 mb-3">Address & Contact Information</h4>
            <div class="d-flex w-100 shadow-lg flex-column ps-4 pe-4 pt-3 pb-1">
                <div class="row">
                    <label for="email" class="d-inline-block w-25">Email: </label>
                    <input name="email" id="email" class="d-inline-block w-50 form-control" value="<%= user.email %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div class="row">
                    <label for="phone" class="d-inline-block w-25">Telephone: </label>
                    <input name="phone" id="phone" class="d-inline-block w-50 form-control" value="<%= user.phone_number %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div class="row">
                    <label for="addressFirst" class="d-inline-block w-25">Address Line 1: </label>
                    <input name="addressFirst" id="addressFirst" class="d-inline-block w-50 form-control"
                           value="<%= user.address?.address_1 %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div class="row">
                    <label for="addressSecond" class="d-inline-block w-25">Address Line 2: </label>
                    <input name="addressSecond" id="addressSecond" class="d-inline-block w-50 form-control"
                           value="<%= user.address?.address_2 %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div class="row">
                    <label for="postCode" class="d-inline-block w-25">Post Code: </label>
                    <input name="postCode" id="postCode" class="d-inline-block w-50 form-control"
                           value="<%= user.address?.postcode %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div class="row">
                    <label for="city" class="d-inline-block w-25">City: </label>
                    <input name="city" id="city" class="d-inline-block w-50 form-control" value="<%= user.address?.city %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div class="row">
                    <label for="country" class="d-inline-block w-25">Country: </label>
                    <input name="country" id="country" class="d-inline-block w-50 form-control"
                           value="<%= user.address?.country %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3"/>
            </div>
        </div>

        <div class="row">
            <div class="mt-2 d-flex align-items-center justify-content-between mt-3">
                <button class="btn btn-primary w-100" type="submit">Save details</button>
                <button class="btn btn-danger ms-3 w-100" name="deleteUser">Delete User</button>
                <button class="btn btn-danger ms-3 w-100" name="deactivateUser">Deactivate User</button>
            </div>
        </div>

        <div class="row">
            <!--        </form>-->
            <h4 class="text-center mt-4 mb-3">Owned Items</h4>
            <div class="d-flex shadow-lg w-100 ps-3 pe-3 pt-3 pb-3">
                <div class="container-fluid text-center">
                    <div class="row mb-2">
                        <div class="col-sm fw-bold ">Item ID:</div>
                        <div class="col fw-bold ">Item Name</div>
                        <div class="col-sm fw-bold ">Details Page</div>
                        <div class="col-sm fw-bold ">Status</div>
                    </div>
                    <hr class="w-100"/>
                    <% user.listed_devices?.forEach( item => {
                        const statusStyle = item.state === "Approved" ? "btn-success" : "btn-warning";
                    %>
                    <div class="row mb-3">
                        <div class="col-sm"><%= item._id %></div>
                        <div class="col"><%= item.brand?.name + " " + item.model?.name %></div>
                        <div class="col-sm"><a class="btn btn-primary w-100" href="<%= item._id %>">Details</a></div>
                        <div class="col-sm">
                            <div class="btn <%= statusStyle %> w-100"><%= item.state %></div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>