<%- include('components/header') %>

<%- include('components/navbar') %>

<div class="container-fluid mt-2">
    <div class="row justify-content-center mb-2">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center">Error encountered:</h1>
            <div class="d-flex justify-content-center">
                <i class="fas fa-exclamation-triangle fa-5x text-danger"></i>
            </div>

            <div class="border border-2 border-danger-subtle rounded-3 p-3 mt-3">

                <p class="text-center p-0 m-0"><%= message %></p>
            </div>

            <div class="border border-2 border-danger-subtle rounded-3 p-3 mt-3">
                <h2 class="text-center">Error details:</h2>
                <p class="text-center p-0 m-0">Status: <%= error.status %></p>
                <pre><%= error.stack %></pre>
            </div>
        </div>
    </div>
</div>

<%- include('components/footer') %>