<%- include("components/header.ejs") %>

<%- include("components/navbar.ejs") %>
<!-- Hero Section-->

<div class="container-fluid p-0">
    <div class="container-fluid mt-3 hero mx-0 object-fit-cover px-5">
        <div class="row flex-lg-row-reverse align-items-center g-3">
            <div class="col-10 mx-auto col-sm-8 col-lg-6  my-4 ">
                <img src="https://assets.ey.com/content/dam/ey-sites/ey-com/en_us/topics/climate-change/ey-waste-bin-full-of-e-waste.jpg"
                     class="d-block mx-lg-auto img-fluid rounded-5 h-50  shadow" alt="" loading="lazy">
            </div>
            <div class="col-lg-6">
                <div class="lc-block mb-3">
                    <div>
                        <h2 class="fw-bold display-5">Recycle Your <span class="e-green">E-Waste</span></h2>
                    </div>
                </div>

                <div class="lc-block mb-3 fs-5 fw-medium">
                    <div>
                        <p>Helping you responsibly dispose of electronic waste for a sustainable future.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Carousel Section -->
    <% if (items.length >= 3) { %>
        <h2 class="text-center mt-5 mb-1">Our marketplace</h2>
        <div id="landingCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <% for(let i = 0; i < Math.floor(items.length / imgPerCarousel); i++) { %>
                    <div class="carousel-item <%= i === 0 ? "active" : "" %>" data-bs-interval="5000">
                        <div class="row g-2 mb-4 w-100 gx-5 p-5 w-100 me-auto ms-auto ">
                            <% for(let j = i * 3; j < i * imgPerCarousel + imgPerCarousel; j++) {
                                const item = items[j];
                            %>
                            <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 item">
                                <div class="card h-100">
                                    <img src="data:<%= item.photos[0]?.img_type %>;base64,<%= Buffer.from(item.photos[0]?.img_data).toString('base64') %>"
                                         class="card-img-top img-fluid item-img" alt="..."
                                         style="height: 200px; object-fit: cover">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= item.model.name %></h5>
                                        <p class="m-0 p-0 fs-6">Price: <span class="fw-bold"><%= item.quote ? quote.value : "Price not found" %></span></p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <button class="carousel-control-prev arrow-control" type="button" data-bs-target="#landingCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next arrow-control" type="button" data-bs-target="#landingCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon bg-success" aria-hidden="true" ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <% } %>

    <!-- Features Section -->
    <div class="container-fluid feature mt-3 landing-page px-5 pb-5" id="features">

        <div class="row row-cols-1 row-cols-md-3 g-3 py-3">
            <h2 class="fw-medium fs-1 pt-2 text-light w-100">Why Use Our Website?</h2>
            <div class="col py-1">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Eco-Friendly Recycling</h2>
                        <p class="card-text">Our recycling processes adhere to environmentally friendly standards to
                            minimize the impact on the planet.</p>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Data Security</h2>
                        <p class="card-text">Your data is safe with us. We guarantee the secure destruction of
                            data-containing devices.</p>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Placeholder Feature</h2>
                        <p class="card-text">We offer convenient pickup services for your electronic waste, ensuring a
                            hassle-free recycling process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid feature impact bg-secondary pt-3 landing-page px-5" id="impact">

        <div class="row row-cols-1 row-cols-md-3 g-3 py-4">
            <h2 class="fw-medium fs-1 pt-2 text-light w-100">Our Impact</h2>
            <p class="text-light fw-medium py-4 w-100">We have saved at least 350 million tonnes of e-waste present in
                our planet. And we aim to consistently
                growing with your support.</p>
        </div>

    </div>

    <!-- Contact Section -->
    <div class="container-fluid features py-4 mb-5 landing-page px-5" id="contact">
        <div class="row">
            <div class="col-md-6">
                <h2 class="fw-medium e-green">Contact Us</h2>
                <p>Have any questions? Contact us today!</p>
            </div>
            <div class="col-md-6">
                <form class="contact-form p-4 border-2 rounded-2 shadow-sm">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control mb-2" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control mb-2" id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control mb-2" id="message" rows="3" placeholder="Your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-bg">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

<%- include("components/footer.ejs") %>
