<%- include("../components/header") %>
<%- include("../components/navbar") %>

<div class="container-fluid w-100">
    <div class="row">
        <div class="col-md-3 col-lg-2 bg-success m-0 py-2 py-md-0 px-3 h-auto h-md-100 vh-md-100" style="opacity: 85%">
            <nav id="sidebarMenu" class="d-none d-md-block sidebar text-light text-center text-md-start">
                <div class="pt-3 position-sticky">
                    <a class="navbar-brand fs-4 fw-medium">
                        <p class="m-0 text-center">
                            <!-- Logo Placeholder -->
                            <i class="fa-solid fa-leaf fa-3x"></i>
                        </p>
                    </a>

                    <hr>

                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="/dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/list-item">
                                Add Item
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="/my-items">
                                My Items
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/marketplace">
                                Marketplace
                            </a>
                        </li>
                    </ul>
                    <hr>

                </div>
            </nav>
        </div>

        <div class="col-md-9 col-lg-10 px-md-4 bg-success-subtle">
            <% if(currentRoute === undefined) { %>
                <%- include('dashboard') %>
            <% } else if (placeholder !== null){ %>
                <p><%= placeholder %></p>
            <% } else { %>
                <%- include(currentRoute) %>
            <% } %>
        </div>
    </div>

    <%- include("../components/footer") %>
</div>