<%- include("../components/header.ejs") %>

<div class="container-fluid my-5">
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="fw-semibold">
                <span class="fa-stack">
                    <i class="fa-solid fa-stack-2x fa-square text-success"></i>
                    <i class="fa-solid fa-stack-1x fa-user text-white"></i>
                </span>
                Profile
            </h2>
        </div>
    </div>

    <form method="POST" action="/profile" name="editUserDetails" class="w-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 justify-content-start align-items-start">
                <div class="row mb-3">
                    <div class="col-12">
                        <% if (hasMessages) { %>
                            <div class="card rounded-4 shadow-sm">
                                <div class="card-body">
                                    <section>
                                        <ol class="mb-0 list-group list-group-numbered m-1">
                                            <% messages.forEach(function(message) { %>
                                                <li class="border border-success border-1 d-flex justify-content-center bg-success-subtle pt-2 pb-2 rounded-1 mb-1"><%= message %></li>
                                            <% }); %>
                                        </ol>

                                    </section>
                                </div>
                            </div>

                        <% } %>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card rounded-4 shadow-sm">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">
                                    <i class="fas fa-id-card"></i>
                                    Basic details
                                </h4>

                                <div class="d-flex justify-content-center mb-3">
                                    <img src="<%= userData.avatar %>" class="w-100 mx-auto rounded-circle"
                                         alt="Avatar"
                                         style="max-width: 150px;">
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pe-md-1">
                                        <div class="form-floating">
                                            <input name="firstName" id="firstName" class="form-control"
                                                   value="<%= userData?.first_name %>" required/>
                                            <label for="firstName" class="">First Name: </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ps-md-1">
                                        <div class="form-floating">
                                            <input name="lastName" id="lastName" class="form-control"
                                                   value="<%= userData?.last_name %>" required/>
                                            <label for="lastName" class="">Last Name: </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <%
                                            const dob = userData.date_of_birth instanceof Date ? userData.date_of_birth.toLocaleDateString('en-GB', {
                                                month: 'numeric',
                                                day: 'numeric',
                                                year: 'numeric'
                                            }) : userData.date_of_birth;
                                            %>
                                            <input name="date_of_birth"
                                                   id="date_of_birth"
                                                   class="form-control-plaintext border rounded-2"
                                                   value="<%= dob %>" readonly/>
                                            <label for="date_of_birth">Date of Birth</label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card rounded-4 shadow-sm">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Contact Information
                                </h4>

                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <div class="form-floating input-group">
                                            <input name="email" id="email"
                                                   class="form-control" <%= (isGoogleAuthenticated) ? "disabled" : "" %>
                                                   value="<%= userData?.email %>" required/>
                                            <label for="email" class="">Email: </label>

                                            <% if (isGoogleAuthenticated) { %>
                                                <!-- Render Google logo -->
                                                <span class="my-auto h-100 py-3 px-2 border rounded-start-0 rounded-2 bg-danger-subtle">
                                                    <i class="fab fa-google"></i>&nbsp;
                                                            <small>Google Account</small>
                                                </span><label>
                            <input name="isGoogleAuthenticated" hidden="hidden" value="<% isGoogleAuthenticated %>"/>
                        </label>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input name="phone" id="phone" class="form-control"
                                                   value="<%= userData?.phone_number %>" required/>
                                            <label for="phone" class="">Telephone: </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <div class="col-md-6 pe-md-1">
                                        <div class="form-floating">
                                            <input name="addressFirst" id="addressFirst"
                                                   class="form-control"
                                                   value="<%= userData.address?.address_1 %>" required/>
                                            <label for="addressFirst">Address Line 1: </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ps-md-1">
                                        <div class="form-floating">
                                            <input name="addressSecond" id="addressSecond"
                                                   class="form-control"
                                                   value="<%= userData.address?.address_2 %>" required/>
                                            <label for="addressSecond">Address Line 2: </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <div class="col-md-8 pe-md-1">
                                        <div class="form-floating">
                                            <input name="city" id="city"
                                                   class="form-control"
                                                   value="<%= userData.address?.city %>" required/>
                                            <label for="city">City: </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4 ps-md-1">
                                        <div class="form-floating">
                                            <input name="postCode" id="postCode"
                                                   class="form-control"
                                                   value="<%= userData.address?.postcode %>" required/>
                                            <label for="postCode">Postcode: </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mb-1">
                                    <div class="col-md-6 pe-md-1">
                                        <div class="form-floating">
                                            <input name="county" id="county"
                                                   class="form-control"
                                                   value="<%= userData.address?.county %>" required/>
                                            <label for="county">County: </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ps-md-1">
                                        <div class="form-floating">
                                            <input name="country" id="country"
                                                   class="form-control"
                                                   value="<%= userData.address?.country %>" required/>
                                            <label for="country">Country: </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card rounded-4 shadow-sm">
                            <div class="card-body p-4">
                                <button class="btn btn-primary w-100" type="submit">Save details</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card rounded-4 shadow-sm bg-success">
                            <div class="card-body p-4">
                                <h4 class="fw-bold text-white">
                                    <i class="fa-solid fa-leaf"></i>
                                    Environmental Impact
                                </h4>

                                <div class="alert">
                                    <p class="display-4 text-center text-white"><%= userData.savedCo2 %>kg</p>
                                    <p class="text-center text-white">C02 Saved by using our services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

