<%- include("../components/header.ejs") %>

<%- include("../components/navbar.ejs") %>

<div class="d-flex justify-content-center align-items-center">
    <div class="w-50 d-flex justify-content-start align-items-start flex-column p-5">
        <form method="POST" action="/profile" name="editUserDetails" class="w-100">
            <br>
            <div>
                <% if (hasMessages) { %>
                    <section >
                        <ol class="mb-0 list-group list-group-numbered m-1">
                            <% messages.forEach(function(message) { %>
                                <li class="border border-success border-1 d-flex justify-content-center bg-success-subtle pt-2 pb-2 rounded-1 mb-1"><%= message %></li>
                            <% }); %>
                        </ol>

                    </section>
                <% } %>
            </div>
            <br>
            <br>
            <h2>
                Your Profile
            </h2>
            <div class="mt-3 me-auto ms-auto">
                <img src="<%= user.avatar %>" class="me-auto ms-auto d-block rounded-circle" alt="Avatar"
                     style="max-width: 150px;">
            </div>

            <h4 class="text-center mt-4 mb-3">Basic details</h4>
            <div class="d-flex w-100 shadow-lg flex-column ps-4 pe-4 pt-3 pb-3">
                <div>
                    <label for="firstName" class="d-inline-block w-25">First Name: </label>
                    <input name="firstName" id="firstName" class="d-inline-block w-50 form-control"
                           value="<%= user.first_name %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div>
                    <label for="lastName" class="d-inline-block w-25">Last Name: </label>
                    <input name="lastName" id="lastName" class="d-inline-block w-50 form-control"
                           value="<%= user.last_name %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div>
                    <label for="email" class="d-inline-block w-25">Date of Birth: </label>
                    <%
                    const dob = user.date_of_birth instanceof Date ? user.date_of_birth.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) : user.date_of_birth;
                    %>
                    <label for="date_of_birth"></label><input name="date_of_birth" id="date_of_birth" class="d-inline-block w-50 form-control bg-dark-subtle" value="<%= dob %>" readonly/>
                </div>

                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-1"/>
            </div>
            <h4 class="text-center mt-4 mb-3">Address & Contact Information</h4>
            <div class="d-flex w-100 shadow-lg flex-column ps-4 pe-4 pt-3 pb-1">
                <div>
                    <label for="email" class="d-inline-block w-25">Email: </label>
                    <input name="email" id="email" class="d-inline-block w-50 form-control bg-dark-subtle" readonly value="<%= user.email %>"/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>
                <div>
                    <label for="phone" class="d-inline-block w-25">Telephone: </label>
                    <input name="phone" id="phone" class="d-inline-block w-50 form-control" value="<%= user.phone_number %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="addressFirst" class="d-inline-block w-25">Address Line 1: </label>
                    <input name="addressFirst" id="addressFirst" class="d-inline-block w-50 form-control"
                           value="<%= user.address.address_1%>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="addressSecond" class="d-inline-block w-25">Address Line 2: </label>
                    <input name="addressSecond" id="addressSecond" class="d-inline-block w-50 form-control"
                           value="<%= user.address.address_2 %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="postCode" class="d-inline-block w-25">Post Code: </label>
                    <input name="postCode" id="postCode" class="d-inline-block w-50 form-control"
                           value="<%= user.address.postcode %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="city" class="d-inline-block w-25">City: </label>
                    <input name="city" id="city" class="d-inline-block w-50 form-control" value="<%= user.address.city%>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="county" class="d-inline-block w-25">County: </label>
                    <input name="county" id="county" class="d-inline-block w-50 form-control" value="<%= user.address.county%>" required/>
                </div>

                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3 mb-3"/>

                <div>
                    <label for="country" class="d-inline-block w-25">Country: </label>
                    <input name="country" id="country" class="d-inline-block w-50 form-control"
                           value="<%= user.address.country %>" required/>
                </div>
                <hr class="w-100 text-center ms-auto me-auto pl-1 pr-1 mt-3"/>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-start mt-3">
                <button class="btn btn-primary" type="submit">Save details</button>
            </div>
        </form>
        <h3 class="w-100 text-center mt-4 mb-1r">Your reduced footprint</h3>
        <div class="card bg-success mt-3 rounded-5 w-100 ms-auto me-auto">
            <div class="card-body d-flex align-content-center justify-content-evenly">
                <p class="h3 text-center text-white m-0 align-self-center"><%= user.savedCo2 %> Nkg</p>
                <img src="/assets/leaf.svg" alt="">
            </div>
            <div class="card-footer">
                <p class="text-white m-0 text-center">C02 Saved because of eWaste</p>
            </div>
        </div>
    </div>

</div>
