<%- include('../components/header') %>

<%- include('../components/navbar') %>

<div class="container-fluid h-100">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h1>Data Retrieval</h1>
            <h2>For <span class="fst-italic"><%= device.brand?.name %> <%= device.model?.name %></span></h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="alert <%= retrievalState.retrievalStateToColor(retrieval.retrieval_state, "alert-") %>">
                <h3><%= retrievalState.retrievalStateToString(retrieval.retrieval_state) %></h3>
                <p class="p-0 m-0">Expires at: <span class="alert alert-secondary p-0 m-0 mx-1 px-2">
                <%= new Intl.DateTimeFormat("en-GB", {
                    year: "numeric",
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    hour12: false,
                    timeZone: "Europe/London"
                }).format(retrieval.expiry) %>
                </span>
                </p>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <% if (retrievalState.stateHasFiles(retrieval.retrieval_state)) { %>
                        <div class="row my-1 mb-2">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h3 class="text-center">Retrieved Data</h3>
                            </div>
                            <div class="col-md-4 text-end">
                                <a href="/retrieval/<%= retrieval._id %>/download" class="btn btn-outline-dark w-100">
                                    Download All</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" id="file_table">
                                        <thead>
                                        <tr class="text-center">
                                            <td>#</td>
                                            <td>File Name</td>
                                            <td>Type</td>
                                            <td>View</td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <% retrieval.data.forEach((file, index) => { %>
                                            <tr class="text-center">
                                                <td class="align-content-center">
                                                    <%= index + 1 %>
                                                </td>
                                                <td class="align-content-center">
                                                    <div class="alert alert-light p-0 py-1 m-0 my-auto">
                                                        <pre class="p-0 m-0"><%= file.name %></pre>
                                                    </div>
                                                </td>
                                                <td class="align-content-center">
                                                    <div class="alert <%= dataTypes.dataTypeToColour(file.data_type, "alert-") %> p-0 py-1 my-auto px-2">
                                                        <%= dataTypes.dataTypeToString(file.data_type) %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="<%= (file.data_type === dataTypes.URL) ? file.value : `/retrieval/${retrieval._id}/file/${file._id}` %>"
                                                       class="btn btn-primary w-100">View</a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-8 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>All done?</h4>
                                        <p>Once you have downloaded all the data you need, you can delete this
                                            retrieval</p>
                                        <button class="btn btn-danger w-100" data-bs-toggle="modal"
                                                data-bs-target="#deleteConfirmationModal">
                                            Delete Retrieval
                                        </button>
                                        <p><small>(Warning: This action is irreversible)</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } else if (retrievalState.isExpiredState(retrieval.retrieval_state)) { %>
                        <div class="alert alert-danger text-center">
                            <h3>Retrieval Expired</h3>
                            <p>We're sorry, this data is no longer available as it has expired</p>
                            <small>Please contact support if you believe this is an error</small>
                        </div>
                    <% } else if (retrievalState.isFailedState(retrieval.retrieval_state)) { %>
                        <div class="alert alert-danger text-center">
                            <h3>Retrieval Failed</h3>
                            <p>We're sorry, there was an issue retrieving the data</p>
                            <small>Please contact support if you need further assistance</small>
                        </div>
                    <% } else { %>
                        <div class="alert alert-light text-center">
                            <h3>Awaiting Data...</h3>
                            <p>Please check back later</p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

    </div>

    <script src="/javascripts/retrieval/user/data_retrieval.js"></script>
</div>

<section id="modals">
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Are you sure you want to delete this retrieval?</h4>
                    <p>This action is irreversible</p>

                    <div class="spinner-grow text-danger mb-2 d-none" role="status" id="deleteSpinner" style="width: 3rem; height: 3rem;">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-danger w-100" id="deleteRetrieval"
                                    onclick="onDeleteConfirm('<%= retrieval._id %>')">Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/footer') %>