<%- include("../components/header") %>

<%- include("../components/navbar") %>

<!---
* Login Page frontend
* @author Ayush Prajapati <aprajapati1@sheffield.ac.uk>
*/
---->

<!----------------------------------------------- Stylesheets used ------------------------------------------------>

<link rel='stylesheet' href='/stylesheets/login_register.css'/>

<!----------------------------------------------- Form-card Layout ------------------------------------------------>
<div class="container h-100">
    <div class="card shadow-lg mt-5">
        <div class="card-body p-0">
            <div class="row justify-content-center m-0">
                <div class="col-md-6 bg-success-subtle rounded-start-2 align-content-center  py-5 py-md-0">
                    <p class="text-center">
                        <i class="fa-solid fa-leaf fa-5x text-center"></i>
                    </p>
                    <h1 class="text-center">
                        Welcome back!
                    </h1>
                    <p class="text-center">
                        Sign in to your account to continue
                    </p>
                </div>
                <div class="col-md-6 justify-content-center align-items-center h-100">
                    <main class="w-100 m-auto p-2 d-flex justify-content-center align-items-center fw-bold  rounded-3">
                        <form class="w-75 py-5" method="POST" action="/login" id="form">


                            <h1 class="parent-text text-start align-items-center justify-content-center fw-bold fw-bolder pb-4 my-2">
                                Sign in
                            </h1>
                            <% if (hasMessages) { %>
                                <section>
                                    <ol class="mb-0 list-group list-group-numbered m-1">
                                        <% messages.forEach(function(message) { %>
                                            <li class="border border-danger border-1 bg-danger-subtle pt-2 pb-2 rounded-1 mb-1 list-group-item"><%= message %></li>
                                        <% }); %>
                                    </ol>
                                </section>
                            <% } %>
                            <div class="pb-2">
                                <div class="form-floating mt-1 mx-1">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="name@example.com" required>
                                    <label for="email">Email address</label>
                                </div>
                                <div class="form-floating mb-1 mx-1">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Password"
                                           required>
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="text-center align-content-center fw-bolder mt-3 ">
                                <a href="/forgot-password" class="hover-link text-decoration-none">Forgot
                                    password?</a>
                            </div>

                            <div class="card-footer-login my-3">
                                <button class="btn btn-primary w-100 py-2"
                                        id="submit-btn"
                                        disabled
                                        data-sitekey="<%= process.env.CAPTCHA_PUBLIC %>>"
                                        data-callback='onSubmit'
                                        data-action='submit'>
                                    <span class="spinner-border spinner-border-sm me-2" role="status"
                                          id="spinner"></span>
                                    Loading...
                                </button>
                                <input type="hidden" id="token" name="token">
                                <div class="text-center align-content-center fw-bolder mt-3 ">
                                    <p>Don't have an account? <a href="/register"
                                                                 class="hover-link text-decoration-none">Register</a>
                                    </p>

                                </div>

                                <hr class="my-4">

                                <div class="text-center align-content-center fw-bolder mt-3 ">
                                    <p>Or sign in with</p>
                                </div>


                                <a href="/auth/google" class="mt-2 rounded-bottom-0 btn btn-danger btn w-100"><i
                                            class="fa-brands fa-google"></i> Google</a>

                                <a href="/auth/facebook" class="mb-2 rounded-top-0 btn btn-primary btn w-100"><i
                                            class="fa-brands fa-facebook"></i> Facebook</a>

                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=<%= process.env.CAPTCHA_PUBLIC %>"></script>
<script src="/javascripts/captcha/captcha.js"></script>
<script>
    executeCaptcha("<%= process.env.CAPTCHA_PUBLIC %>", "Login", <%= failedCaptcha %>)
</script>

<div class="fixed-bottom z-0">
    <%- include("../components/footer") %>
</div>
